= content_for :sidebar do
  .col-lg-3
    .well.sidebar-nav
      %h3= t('.viewed_excursions')
      %table
        - if @viewed_excursions.any?
          = render partial: 'viewed_excursion', collection: @viewed_excursions, as: :excursion
        - else
          %tr
            %td= t('.no_viewed_excursions')
